@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div class="container">
    <div class="jumbotron">
        <h1>Glossary.se</h1>
        <p>
            Glossary.se hjälper dig att plugga in dina glosor på ett roligt sätt! Här kan du lära dig nya språk genom att skapa test och sedan
            förhöra dig själv på testen. Registrera dig och logga sedan in för att skapa dina egna glostest och se dina resultat. Lycka till!
        </p>
        @Html.ActionLink("Läs mer och registrera dig", "Info", "Home", new { @class = "btn btn-success" })
    </div>
    <p class="font-sized"><b><i>"Tack vare Glossary fick jag MVG på mitt glosförhör i spanska!" - Lovisa 14</i></b></p>
    <p class="font-sized"><b><i>"Genom Glossary lyckades jag äntligen fixa ett högt betyg i engelska!" - Andreas 17</i></b></p>
</div>