@{
    ViewBag.Title = "Info";
}

<h1>Mer om Glossary</h1>
<hr />

<div class="container font-size">
    <p>Registrera dig gratis här för att ta del av glosförhören!</p>
    @Html.ActionLink("Inte medlem? Klicka här", "Create", "Register")
</div>

